@model www.Models.JumboNavViewModel

<div class="row center-block">
    <div class="jumbotron text-center">
        <div class="container">
            <div class="col-md-2 @(@Model.CurrentView == "index"  ? "nav-active" : "")">
                <a href="/">
                    <img src="~/images/tag-vs-random.png" />
                    <div>Random Tips</div>
                </a>
            </div>
            <div class="col-md-2  @(@Model.CurrentView == "tag/editor"  ? "nav-active" : "")">
                <a href="/tag/editor">
                    <img src="~/images/tag-vs-edit.png" />
                    <div>Editor Tips</div>
                </a>
            </div>
            <div class="col-md-2 @(@Model.CurrentView == "tag/shell"  ? "nav-active" : "")">
                <a href="/tag/shell">
                    <img src="~/images/tag-vs-shell.png" />
                    <div>Shell Tips</div>
                </a>
            </div>
            <div class="col-md-2 @(@Model.CurrentView == "tag/debug"  ? "nav-active" : "")">
                <a href="/tag/debugger">
                    <img src="~/images/tag-vs-debug.png" />
                    <div>Debugging Tips</div>
                </a>
            </div>
            <div class="col-md-2 @(@Model.CurrentView == "tag/design"  ? "nav-active" : "")">
                <a href="/tag/desginer">
                    <img src="~/images/tag-vs-design.png" />
                    <div>Designer Tips</div>
                </a>
            </div>
            <div class="col-md-2  @(@Model.CurrentView == "search"  ? "nav-active" : "")">
                <a href="/search">
                    <img src="~/images/tag-vs-search.png" />
                    <div>Search Tips</div>
                </a>
            </div>
        </div>
    </div>
</div>
